language: node_js
node_js:
  - "4.3"
  - "iojs"
addons:
  apt:
    packages:
      - sshpass
after_success:
  - mkdir dist
  - cp * dist
  - tar -czf package.tgz dist
  - export SSHPASS='$DEPLOY_PASS'
  - sshpass -e scp -o stricthostkeychecking=no package.tgz $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH