language: node_js
node_js:
  - "4.3"
  - "iojs"
after_success:
  - mkdir build
  - mv * build
  - tar -czf package.tgz build
  - export SSHPASS=$DEPLOY_PASS
  - sshpass -e scp package.tgz $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH