section#chat-messages
  ul#messages.list-group.message(ws-autoscroll="")
    li.list-group-item(href='#' ng-repeat="message in messages.messages")
      small.message-sender.list-group-item-heading.text-primary(ng-bind="::message.sender")
      small.message-time.list-group-item-heading.text-warning(ng-bind="::message.sentTimeStamp | date:'medium'")
      p.message-content.list-group-item-text(ng-bind="::message.message")