section#chat-window
  section#chat-messages
    ul#messages
      .list-group.message
        li.list-group-item(href='#' ng-repeat="message in chat.messages")
          small.message-sender.list-group-item-heading.text-primary(ng-bind="::message.sender")
          small.message-time.list-group-item-heading.text-warning(ng-bind="::message.sentTimeStamp | date:'medium'")
          p.message-content.list-group-item-text(ng-bind="::message.message")

  section#chat-input
    .row 
      .col-lg-12
        form(ng-submit="chat.sendMessage(chat.message)", name="")
          .input-group
            input.form-control(type='text', placeholder='type something', ng-model="chat.message")
            span.input-group-btn
              button.btn.btn-default(type='submit') Send
