main-color=#F5F5F5
main-border-color=#DDD
sidebar-color=main-color
sidebar-border-color=main-border-color
chat-input-color=main-color
chat-input-border-color=main-border-color

*
  border-radius 0 !important
  
html, body
  width 100%
  height 100%
  margin 0
  padding 0
  overflow-x hidden

#main-content
  margin-left 20%
  width 80%
  height 100%
  position absolute
  top 0
  bottom 0  

#sidebar
  float left
  width 20%
  background-color sidebar-color
  height 100%
  position absolute
  top 0
  bottom 0
  border-right 1px solid sidebar-border-color

#messages 
  list-style-type none
  margin 0
  padding 0

#chat-messages
  overflow-y auto
  overflow-x hidden
  position absolute
  top 0
  width 100%
  bottom 51px

#chat-input 
  background-color chat-input-color
  border-top 1px solid chat-input-border-color
  padding 4px 4px
  position absolute
  bottom 0
  width 100%

.chat-message
  margin 0px 5px 8px 5px
  padding 5px 2px 5px 5px
  border 1px solid chat-input-border-color
  
#messages li:nth-child(odd) 
  background #eee
  
.message-sender
  font-size 0.8em
  margin-right 0.2em
  font-family Calibri

.message-time
  font-size 0.8em
  margin-left 0.2em
  font-family Calibri
  
  
@media (min-width: 750px)

  #chat-input 
    padding 8px 8px
  