#messages 
  list-style-type none
  margin 0
  padding 0

#messages li 
  padding: 5px 10px;
  

#messages li:nth-child(odd) 
  background #eee
  
.message-sender
  font-size 0.8em
  margin-right 0.2em
.message-time
  font-size 0.8em
  margin-left 0.2em
// .message-content
  
  

#chat-messages
  overflow-y auto
  position fixed
  top 0
  width 100%
  bottom 35px

#chat-input 
  position fixed
  bottom 0
  width 100%